* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 100vw;
    height: 100vh;
    background-image: url(../example_pictures/travel-2650303_1920.jpg);
    background-position: center;
}
.add_place {
    width: 40%;
    height: 50vh;
    background-color: black;
    color: white;
    border: 10px solid gold;
    display: block;
    margin: 0 auto;
    
}
label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 10px;
    text-align: center;
}
input {
    display: block;
    width: 500px;
    height: 20px;
    margin:0 auto;
    
    
    
}
.btn {
    display: block;
    width: 250px;
    height: 40px;
    border:2px solid gold;
    color: white;
    background-color: darkslategrey;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    
}
.btn:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: dimgrey;
}