* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 100vw;
    height: 100vh;
    background-image: url(../example_pictures/rome-4775842_1920.jpg);
    background-position: bottom;
    background-position: center;
    background-color: black;
}
.register {
    width: 300px;
    height: 100vh;
    background-color: black;
    color: white;
    border: 10px solid gold;
    position: fixed;
    left:60%
}
    label {
    display: block;
    font-family: arial,sans-serif;
    font-size: 20px;
    color: white;
    margin: 5px 10px;
    text-align: center;
}
input {
    width: 250px;
    height: 20px;
    margin-left:12px
}
.btn, .back_btn {
    display: block;
    width: 250px;
    height: 40px;
    border:2px solid gold;
    color: white;
    background-color: darkslategrey;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    
}
.btn:hover, .back_btn:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: dimgrey;
}
.gender-word {
    position: relative;
    bottom: 20px;
    font-family: arial,sans-serif;
    font-size: 20px;
    margin-left: 10px;
    width: 100px;
    
}
.men, .women {
    position: relative;
    left: 50px
}

    
