<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator panel</title>
    <link rel="stylesheet" href="../../static/css/style_add.css">
</head>
<body>
<div class="wrapper">
    <div class="add_hotel">
        <form action="#" method="post">
            {{ form.hidden_tag() }}
                <p>
                    {{form.name.label}}<br>
                    {{form.name(class="name", placeholder="Enter hotel name")}}
                </p>
                <p>
                    {{form.city.label}}<br>
                    {{form.city(class="city", placeholder="Enter the place where the hotel is located")}}
                </p>
                <p>
                    {{form.postal_code.label}}<br>
                    {{form.postal_code(class="postal-code", placeholder="Enter your hotel postal code")}}
                </p>
                <p>
                    {{form.street.label}}<br>
                    {{form.street(class="street", placeholder="Enter the street where the hotel is located")}}
                </p>
                <p>
                    {{form.house_number.label}}<br>
                    {{form.house_number(class="house-number", placeholder="Enter the house number where the hotel is located")}}
                </p>
                <p>
                    {{form.site_link.label}}<br>
                    {{form.site_link(class="site-link", placeholder="Enter the link of the hotel site")}}
                </p>
                <p>
                    {{form.distance.label}}<br>
                    {{form.distance(class="distance", placeholder="Enter the distance from Hotel to center of the city")}}
                </p>
                    {{form.submit(class="btn", value="Add")}}
        </form>
    </div>
</div>    
</body>
</html>