<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="../static/css/style_add.css">
</head>
<body>
<div class="wrapper">
    <div class="add_place">
        <form action="#" method="post">
            <label for="name">Nazwa hotelu</label>
            <input type="text" placeholder="Wpisz nazwę hotelu" class="name" name="name">
            <label for="city">Miasto</label>
            <input type="text" placeholder="Wpisz miasto w którym znajduje się dodane przez ciebie hotel" class="country" name="country">
            <label for="postal_addres">Adres pocztowy</label>
            <input type="text" placeholder="Wpisz adres pocztowy hotelu" class="region" name="region">
            <label for="street">Ulica</label>
            <input type="text" placeholder="Wpisz ulicę na której znajduje się hotel" class="language" name="language">
            <label for="number">Numer domu</label>
            <input type="text" placeholder="Wpisz numer domu pod którym znajduje się hotel" class="coordinates" name="coordinates">
            <input type="submit" class="btn" value="Dodaj">
        </form>
    </div>
</div>    
</body>
</html>