<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="../static/css/style_add.css">
</head>
<body>
<div class="wrapper">
    
    <div class="add_place">
        <form action="#" method="post">
            <label for="name">Rodzaj atrakcji</label>
            <input type="text" placeholder="Wpisz rodzaj atrakcji" class="name" name="name">
            <label for="country">Cena</label>
            <input type="text" placeholder="Wpisz koszty odwiedzenia danej atrakcji" class="country" name="country">
            <label for="region">Krótki opis</label>
            <input type="text" placeholder="Opisz atrakcje dla innych użytkowników" class="region" name="region">
            <label for="open">Godziny otwarcia</label>
            <input type="text" placeholder="Wpisz godziny otwarcia dodanej przez ciebie atrakcji" class="coordinates" name="coordinates">
            <input type="submit" class="btn" value="Dodaj">
 
        </form>
    </div>
</div>    
</body>
</html>