<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="../../static/css/style_add.css">
</head>
<body>
<div class="wrapper">
    <div class="add_place">
        <form action="#" method="post">
            <label for="name">Rodzaj transportu</label>
            <input type="text" placeholder="Wpisz rodzaj dodaj przez ciebie komunikacji" class="name" name="name">
            <label for="city">Miasto</label>
            <input type="text" placeholder="Wpisz miasto w którym znajduje się dodana przez ciebie komunikacja" class="country" name="country">
            <label for="coordinates">Szerokość</label>
            <input type="text" placeholder="Wpisz szerokość geograficzną" class="region" name="region">
            <label for="coordinates">Długość</label>
            <input type="text" placeholder="Wpisz długość geograficzną " class="language" name="language">
            <label for="link">Link</label>
            <input type="text" placeholder="Dodaj link " class="coordinates" name="coordinates">
           
            <input type="submit" class="btn" value="Dodaj">
 
        </form>
    </div>
</div>    
</body>
</html>