<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="../../static/css/style_add.css">
</head>
<body>
<div class="wrapper">
    <div class="add_hotel">
        <form action="#" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                <p>
                    {{form.name.label}}<br>
                    {{form.name(class="name", placeholder="Enter name of the place")}}
                </p>
                <p>
                    {{form.photo.label}}<br>
                    {{form.photo(class="photo", placeholder="Enter photo of attraction")}}
                </p>
                <p>
                    {{form.country.label}}<br>
                    {{form.country(class="country", placeholder="Enter country where the place is")}}
                </p>
                <p>
                    {{form.region.label}}<br>
                    {{form.region(class="region", placeholder="Enter region where the place is")}}
                </p>
                <p>
                    {{form.language.label}}<br>
                    {{form.language(class="language", placeholder="Enter the spoken languages in the place")}}
                </p>
                <p>
                    {{form.latitude.label}}<br>
                    {{form.latitude(class="latitude", placeholder="Enter the latitude of the place")}}
                </p>
                <p>
                    {{form.longitude.label}}<br>
                    {{form.longitude(class="longitude", placeholder="Enter the longitude of the place")}}
                </p>
                    {{form.submit(class="btn", value="Add")}}
        </form>
    </div>
</div>    
</body>
</html>