<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="static/css/Style_Panel_administratora.css">
</head>
<body>
<div class="wrapper">
    <div class="add_place">
        <form action="#" method="post">
            <label for="name">Nazwa miejsca</label>
            <input type="text" placeholder="Wpisz nazwę miejsca" class="name" name="name">
            <label for="country">Kraj</label>
            <input type="text" placeholder="Wpisz kraj w którym znajduje się dodane przez ciebie miejsce" class="country" name="country">
            <label for="region">Rejon</label>
            <input type="text" placeholder="Wpisz rejon w którym znajduje się dodane przez ciebie miejsce" class="region" name="region">
            <label for="language">Język</label>
            <input type="text" placeholder="Wpisz język urzędowy w dodanym przez ciebie miejscu" class="language" name="language">
            <label for="coordinates">Współrzędne geograficzne</label>
            <input type="text" placeholder="Wpisz współrzędne dodanego przez ciebie miejsca" class="coordinates" name="coordinates">
            <label for="photo">Dodaj zdjęcia</label>
            <input type="file" class="photo" name="photo">
            <input type="submit" class="btn" value="Dodaj">
 
        </form>
    </div>
</div>    
</body>
</html>