<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrakcje</title>
    <link rel="stylesheet" href="static/css/style_profile_atraction.css">
</head>
<body>
    <div class="wrapper">
    <header>
        <p class="title">To warto zobaczyć w ...[Nazwa miejsca]</p>
    </header>
    <main>
        <section class="atraction">
            <dvi class="name">
                <p>Nazwa atrakcji</p>
            </dvi>
            <div class="img_container">
                <img src="./Obrazki/italy-1747913_640.jpg" alt="">
                <img src="./Obrazki/rome-4087275_640.jpg" alt="">
                <img src="./Obrazki/italy-1747913_640.jpg" alt="">
            </div>
            <div class="basic_information">
                <table>
                        <tr>
                          <th>Rodzaj</th>
                          <th>Cena</th>
                          <th>Godziny otwarcia</th>
                          <th>Link</th>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                </table>

                
            </div>
            <div class="description">
                <p>Opis</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus odit, minima cum, facere quas mollitia voluptatum vero necessitatibus corrupti excepturi voluptatibus quisquam laboriosam possimus dolor, dolorum nihil pariatur maiores?</p>
            </div>
        </section>
        <section class="atraction">
            <dvi class="name">
                <p>Nazwa atrakcji</p>
            </dvi>
            <div class="img_container">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="basic_information">
                <table>
                        <tr>
                          <th>Rodzaj</th>
                          <th>Cena</th>
                          <th>Godziny otwarcia</th>
                          <th>Link</th>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                </table>
                
            </div>
            <div class="description">
                <p>Opis</p>
            </div>
        </section>
        <section class="atraction">
            <dvi class="name">
                <p>Nazwa atrakcji</p>
            </dvi>
            <div class="img_container">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="basic_information">
                <table>
                        <tr>
                          <th>Rodzaj</th>
                          <th>Cena</th>
                          <th>Godziny otwarcia</th>
                          <th>Link</th>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                </table>
                
            </div>
            <div class="description">
                <p>Opis</p>
            </div>
        </section><section class="atraction">
            <dvi class="name">
                <p>Nazwa atrakcji</p>
            </dvi>
            <div class="img_container">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="basic_information">
                <table>
                        <tr>
                          <th>Rodzaj</th>
                          <th>Cena</th>
                          <th>Godziny otwarcia</th>
                          <th>Link</th>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                </table>
                
            </div>
            <div class="description">
                <p>Opis</p>
            </div>
        </div>
        </section>
    </main>
    
</body>
</html>