<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrakcje</title>
    <link rel="stylesheet" href="../static/css/style_profile_atraction.css">
</head>
<body>
    <div class="wrapper">
    <header>
        <p class="title">To warto zobaczyć w {{place.name}}</p>
        <img class="title_background" src="../example_pictures/live-3104077_1280.jpg" alt="">
    </header>
    <main>
        {% for attraction in attractions %}
        <section class="atraction">
            <dvi class="name">
                <p>{{attraction.name}}</p>
            </dvi>
            <div class="img_container">
                <center><img src="/{{attraction.photo_path}}" alt=""></center>
            </div>
            <div class="basic_information">
                <table>
                    <tr>
                        <th>Rodzaj</th>
                        <th>Cena</th>
                        <th>Godziny otwarcia</th>
                        <th>Link</th>
                    </tr>
                    <tr>
                        <td>{{attraction.type}}</td>
                        <td>{{attraction.price}}</td>
                        <td>{{attraction.open_hours}}</td>
                        <td>{{attraction.link}}</td>
                    </tr>
                </table>


            </div>
            <div class="description">
                <p>Opis</p>
                <p>{{attraction.description}}</p>
            </div>
        </section>
        
        
        {% endfor %}
        <div class="back">
            <a class="back_btn" href="../main">
                Powrót na stronę główną
            </a>

        </div>
    </main>
</body>
</html>