<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/css/style_login.css">
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>

<body>

    <div class="wrapper">
        <div class="login">
            <form>
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" placeholder="Wpisz nick lub e-mail" class="username" name="username">
                <label for="password">Hasło:</label>
                <input type="password" placeholder="Wpisz hasło" class="password" name="password">
                <p><a href="#">Zapomniałeś hasła ?</a></p>
                <div class="down">
                    <input type="checkbox">
                    <label class="check" for="checkbox">Zapamiętaj mnie</label>
                    <input type="submit" class="btn
                  " value="Zaloguj się">

                </div>
                <div class="register">
                    <p>Nie masz konta ?</p>
                    <a class="btn" href="file:///C:/Users/Lenovo/Desktop/Web%20dev/Projekt%20bazy%20danych/Register.html">Zarejestruj się</a>
                </div>
            </form>

        </div>

    </div>

</body>

</html>
