<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/style_login.css">
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>

<body>

    <div class="wrapper">
        <div class="login">
            <form action="#" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{form.username.label}}<br>
                    {{form.username(placeholder="Enter your login", class="username")}}
                </p>
                <p>
                    {{form.password.label}}<br>
                    {{form.password(placeholder="Enter password", class="password")}}
                </p>
                <p><a href="#">Zapomniałeś hasła ?</a></p>
                <div class="down">
                    <p>{{ form.remember_me(class="btn") }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(class="btn", value="Sign In") }}</p>

                </div>
                <div class="register">
                    <p>Nie masz konta ?</p>
                    <a class="btn" href="register">Zarejestruj się</a>
                </div>
            </form>

        </div>

    </div>

</body>

</html>
