<!DOCTYPE html>
<html lang="pl">
<head>
   <link rel="stylesheet" href="static/css/style_logout.css">
    <meta charset="UTF-8">
    <title>Wylogowanie pomyślne</title>
</head>
<body>
   <div class="wrapper">
       <dvi class="screen-logout">
           <p class="info">Wylogowanie przebiegło pomyślnie</p>
           <form action="file:///C:/Users/Lenovo/Desktop/Web%20dev/Projekt%20bazy%20danych/Strona_g%C5%82%C3%B3wna.html">
    <input class="btn" type="submit" value="Wróć na stronę główną" >
</form>
       </dvi>
   </div>
    
</body>
</html>