<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="../static/css/style_panel_administratora_v2.css">
</head>
<body>
    <div class="wrapper">
    <main>
        
         <h2>Panel administratora</h2>   
        <div class="tab">
            <button class="tablinks" onclick="openPlace(event, 'Edit')">Edycja</button>
            <button class="tablinks" onclick="openPlace(event, 'Add')">Dodawanie</button>

        </div>
        <div id="Edit" class="tabcontent">
            <h3>Edytuj już dodane miejsca </h3>
            <ol>
                <li><a href="">Miejsce 1</a></li>
                <li><a href="">Miejsce 2</a></li>
                <li><a href="">Miejsce 3</a></li>
            </ol>
        </div>
        <div id="Add" class="tabcontent">
            <h3>Dodaj</h3>
            <a href="Add_hotel.html">Hotele</a>
            <a href="Add_attraction.html">Atrakcje</a>
            <a href="Add_transport.html">Transport</a>
            <a href="Add_place.html">Miejsca</a>

        </div>
    </main>
</div>
<script>
    function openPlace(evt, Name) {
// Declare all variables
var i, tabcontent, tablinks;

// Get all elements with class="tabcontent" and hide them
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}

// Get all elements with class="tablinks" and remove the class "active"
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}

// Show the current tab, and add an "active" class to the button that opened the tab
document.getElementById(Name).style.display = "block";
evt.currentTarget.className += " active";
}

</script>
 
         
</body>
</html>