<!DOCTYPE html>
<html lang="pl">

<head>
    <link rel="stylesheet" href="static/css/style_register.css">
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>

<body>
    <div class="wrapper">
        <div class="register">
            <form action="#" method="post">
                <label for="first-name">Imię:</label>
                <input type="text" placeholder="Wpisz swoje imię" class="first-name" name="first-name">
                <label for="surname">Nazwisko:</label>
                <input type="text" placeholder="Wpisz swoje nazwisko" class="surname" name="surname">
                <label for="age">Wiek</label>
                <input type="number" placeholder="Wpisz swoj wiek" class="age" name="age">
                <label for="gender">Wybierz płeć</label>
                <input type="checkbox" class="men" ><p class="gender-word">Mężczyzna</p>
                <input type="checkbox" class="women"> <p class="gender-word">Kobieta</p>
                <label for="E-mail">E-mail:</label>
                <input type="text" placeholder="Wpisz swoj e-mail" class="e-mail" name="e-mail">
                <label for="nick">Nick:</label>
                <input type="text" placeholder="Wpisz swój pseudonim" class="nick" name="nick">
                <label for="password">Hasło:</label>
                <input type="password" placeholder="Wpisz hasło" class="password" name="password">
                <label for="password-reapet">Powtórz hasło:</label>
                <input type="password" placeholder="Powtórz hasło" class="password-reapet" name="password-reapet">
                <label for="photo">Dodaj zdjęcie profilowe</label>
                <input type="file" class="photo" name="photo">
                <input type="submit" class="btn" value="Zarejestruj się">
                
    
                
 </form>

        </div>
    </div>

</body></html>
