<!DOCTYPE html>
<html lang="pl">

<head>
    <link rel="stylesheet" href="../static/css/style_register.css">
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>

<body>
    <div class="wrapper">
        <div class="register">
            <form action="#" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{form.name.label}}<br>
                    {{form.name(class="first-name", placeholder="Enter your name")}}
                </p>
                <p>
                    {{form.surname.label}}<br>
                    {{form.surname(class="surname", placeholder="Enter your surname")}}
                </p>
                <p>
                    {{form.age.label}}<br>
                    {{form.age(class="age", placeholder="Enter your age")}}
                </p>
                <p>
                    {{form.email.label}}<br>
                    {{form.email(class="e-mail", placeholder="Enter your email")}}
                </p>
                <p>
                    {{form.country.label}}<br>
                    {{form.country(placeholder="your nationality", class="nationality")}}
                </p>
                <p>
                    {{form.username.label}}<br>
                    {{form.username(placeholder="Enter your login", class="nick")}}
                </p>
                <p>
                    {{form.password.label}}<br>
                    {{form.password(placeholder="Enter password", class="password")}}
                </p>
                <p>
                    {{form.password2.label}}<br>
                    {{form.password2(placeholder="repeat password", class="password-reapet")}}
                </p>
                    {{form.submit(class="btn", value="Register")}}
                
 </form>

        </div>
    </div>

</body></html>
